<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:fragment="dependency">
    <meta charset="utf-8"/>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>

    <script type="text/javascript" th:src="@{/static/custom/jquery.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/static/custom/easyui.css}"/>

    <script type="text/javascript" th:src="@{/static/custom/jquery.easyui.min.js}"></script>

 </head>

</html>