<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xkd.mapper.ApplyDeviceMapper">
  <select id="selectByApplyId"  resultType="java.util.Map">
    select
      rad.applyId,
      rad.deviceId,
      d.deviceName,
      d.deviceType,
      d.companyId,
      c.companyName
    from dc_yd_repaire_apply_device rad
    LEFT JOIN dc_yd_device d ON rad.deviceId = d.id
    LEFT JOIN dc_company c ON d.companyId = c.id
    where rad.applyId = #{applyId,jdbcType=CHAR}
  </select>


  <insert id="insert">
    insert into dc_yd_repaire_apply_device(id, applyId,deviceId) values
    <foreach collection="applyDeviceList"  item="applyDevice" index="" separator="," >
      (#{applyDevice.id},#{applyDevice.applyId},#{applyDevice.deviceId})
    </foreach>
  </insert>



</mapper>