<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjh.menuoperateservice.mapper.OperateMapper">


    <insert id="insert">
        INSERT INTO sys_operate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> id, </if>
            <if test="menuId != null"> menu_id, </if>
            <if test="serviceName != null"> service_name, </if>
            <if test="url != null"> url, </if>
            <if test="operateName != null"> operate_name, </if>
            <if test="operateCode != null"> operate_code, </if>
            <if test="orderNo != null"> order_no, </if>
            <if test="createDate != null"> create_date, </if>
            <if test="createdBy != null"> created_by, </if>
            <if test="updateDate != null"> update_date, </if>
            <if test="updatedBy != null"> updated_by, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id}, </if>
            <if test="menuId != null"> #{menuId}, </if>
            <if test="serviceName != null"> #{serviceName}, </if>
            <if test="url != null"> #{url}, </if>
            <if test="operateName != null"> #{operateName}, </if>
            <if test="operateCode != null"> #{operateCode}, </if>
            <if test="orderNo != null"> #{orderNo}, </if>
            <if test="createDate != null"> #{createDate}, </if>
            <if test="createdBy != null"> #{createdBy}, </if>
            <if test="updateDate != null"> #{updateDate}, </if>
            <if test="updatedBy != null"> #{updatedBy}, </if>
        </trim>
    </insert>


    <update id="update">
        UPDATE sys_operate
        <set>
            <if test="id != null"> id = #{id}, </if>
            <if test="menuId != null"> menu_id = #{menuId}, </if>
            <if test="serviceName != null"> service_name = #{serviceName}, </if>
            <if test="url != null"> url = #{url}, </if>
            <if test="operateName != null"> operate_name = #{operateName}, </if>
            <if test="operateCode != null"> operate_code = #{operateCode}, </if>
            <if test="orderNo != null"> order_no = #{orderNo}, </if>
            <if test="createDate != null"> create_date = #{createDate}, </if>
            <if test="createdBy != null"> created_by = #{createdBy}, </if>
            <if test="updateDate != null"> update_date = #{updateDate}, </if>
            <if test="updatedBy != null"> updated_by = #{updatedBy} </if>
        </set>
        WHERE id = #{id}
    </update>






    <select id="search" resultType="com.wjh.menuoperateservicemodel.model.OperateVo">
        SELECT
            o.id,
            o.menu_id as menuId,
            o.service_name as serviceName,
            o.url,
            o.operate_name as operateName,
            o.operate_code as operateCode,
            o.order_no as orderNo,
            DATE_FORMAT(o.create_date,'%Y-%m-%d %H:%i:%s') as  createDate,
            o.created_by as createdBy,
            DATE_FORMAT(o.update_date,'%Y-%m-%d %H:%i:%s') as updateDate ,
            o.updated_by as updatedBy
         from sys_operate o
        where o.operate_name like '%${operateName}%'
        limit #{start},#{pageSize}
    </select>

    <select id="searchCount" resultType="int">
        SELECT
          count(1) as count
        from sys_operate o
        where o.operate_name like '%${operateName}%'
        limit #{start},#{pageSize}
    </select>

    <delete id="delete">
        delete from sys_operate where id=#{id}
    </delete>



    <select id="selectByIds" resultType="com.wjh.menuoperateservicemodel.model.OperateVo">
        SELECT
            o.id,
            o.menu_id as menuId,
            m.menu_name as menuName,
            o.service_name as serviceName,
            o.url,
            o.operate_name as operateName,
            o.operate_code as operateCode,
            o.order_no as orderNo,
            DATE_FORMAT(o.create_date,'%Y-%m-%d %H:%i:%s') as createDate,
            o.created_by as createdBy,
            DATE_FORMAT(o.update_date,'%Y-%m-%d %H:%i:%s') as updateDate,
            o.updated_by as updatedBy
        from sys_operate o left join sys_menu m on o.menu_id=m.id
        where o.id in
        <foreach collection="idList" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>


</mapper>