<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xkd.mapper.AddressMapper" >
  <resultMap id="BaseResultMap" type="Address" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userId" jdbcType="CHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="county" property="county" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,userid,country,province,city,county,address
  </sql>
 
 <select id="selectAllAddress" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from dc_user_address 
  </select>
  
 <select id="selectAddressByArea" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from dc_user_address where  (province like ${area} or city like ${area} or county like ${area}) 
 </select>
 
  <select id="selectAddressByUserId" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from dc_user_address where userid = #{userId}
  </select>
  
  
  <update id="updateAddressBySql">
  	${sql}
  </update>
  
  <update id="updateAddressInfoById" parameterType="Address" >
    update dc_user_address
    <set>
      <if test="userId != null" >
        userid = #{userId,jdbcType=CHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
     
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  
  <update id="updateAddressInfoByIdByInvitation" parameterType="Address">
  
  	update dc_user_address set province =#{province},city =#{city},county = #{county} where id = #{id} 
  
  </update>
  
  <update id="updateAddressInfoByUserId" parameterType="Address" >
    update dc_user_address
    <set>
      <if test="userId != null" >
        userid = #{userId,jdbcType=CHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      
    </set>
    where userid = #{userId,jdbcType=CHAR}
  </update>
  
  <insert id="saveUserAddress">
		INSERT INTO dc_user_address (
		   <if test="id != null and id !='' " >
			  id 
			</if>  
			   <if test="userId != null and userId !='' " >
			  ,userId 
			  </if>
			     <if test="country != null and country !='' " >
			  ,country
			  </if> 
			     <if test="province != null and province !='' " >
			  ,province 
			  </if>
			     <if test="city != null and city !='' " >
			  ,city 
			  </if>
			     <if test="county != null and county !='' " >
			 , county 
			 </if>
			    <if test="address != null and address !='' " >
			  ,address 
			  </if>
			     <if test="createdBy != null and createdBy !='' " >
			  ,createdBy 
			  </if>
			     <if test="createDate != null and createDate !='' " >
			  ,createDate
			  </if>
			     <if test="updatedBy != null and updatedBy !='' " >
			  ,updatedBy 
			  </if>
			     <if test="updateDate != null and updateDate !='' " >
			  ,updateDate 
			  </if>
			)
			VALUES
				(
					<if test="id != null and id !='' " >
					  #{id} 
					</if>  
					   <if test="userId != null and userId !='' " >
					  ,#{userId} 
					  </if>
					     <if test="country != null and country !='' " >
					  ,#{country}
					  </if> 
					     <if test="province != null and province !='' " >
					  ,#{province} 
					  </if>
					     <if test="city != null and city !='' " >
					  ,#{city} 
					  </if>
					     <if test="county != null and county !='' " >
					 , #{county} 
					 </if>
					    <if test="address != null and address !='' " >
					  ,#{address} 
					  </if>
					     <if test="createdBy != null and createdBy !='' " >
					  ,#{createdBy} 
					  </if>
					     <if test="createDate != null and createDate !='' " >
					  ,#{createDate}
					  </if>
					     <if test="updatedBy != null and updatedBy !='' " >
					  ,#{updatedBy} 
					  </if>
					     <if test="updateDate != null and updateDate !='' " >
					  ,#{updateDate} 
					  </if>
				) 
  	
  </insert>
  
</mapper>