<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xkd.mapper.BusinessOpportunityMapper" >
    <insert id="insertBusinessOppotunity">
        INSERT INTO dc_business_opportunity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> id, </if>
            <if test="opportunityName != null"> opportunityName, </if>
            <if test="responsibleUserId != null"> responsibleUserId, </if>
            <if test="contact != null"> contact, </if>
            <if test="contactMobile != null"> contactMobile, </if>
            <if test="salesMoney != null"> salesMoney, </if>
            <if test="phaseId != null"> phaseId, </if>
            <if test="implementDate != null"> implementDate, </if>
            <if test="companyId != null"> companyId, </if>
            <if test="remark != null"> remark, </if>
            <if test="createdBy != null"> createdBy, </if>
            <if test="updatedBy != null"> updatedBy, </if>
            <if test="createDate != null"> createDate, </if>
            <if test="updateDate != null"> updateDate, </if>
            <if test="status != null"> status, </if>
            <if test="businessTypeId!=null">businessTypeId,</if>
            <if test="businessSourceId!=null">businessSourceId,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id}, </if>
            <if test="opportunityName != null"> #{opportunityName}, </if>
            <if test="responsibleUserId != null"> #{responsibleUserId}, </if>
            <if test="contact != null"> #{contact}, </if>
            <if test="contactMobile != null"> #{contactMobile}, </if>
            <if test="salesMoney != null"> #{salesMoney}, </if>
            <if test="phaseId != null"> #{phaseId}, </if>
            <if test="implementDate != null"> #{implementDate}, </if>
            <if test="companyId != null"> #{companyId}, </if>
            <if test="remark != null"> #{remark}, </if>
            <if test="createdBy != null"> #{createdBy}, </if>
            <if test="updatedBy != null"> #{updatedBy}, </if>
            <if test="createDate != null"> #{createDate}, </if>
            <if test="updateDate != null"> #{updateDate}, </if>
            <if test="status != null"> #{status}, </if>
            <if test="businessTypeId != null"> #{businessTypeId}, </if>
            <if test="businessSourceId != null"> #{businessSourceId}, </if>
        </trim>
    </insert>


    <update id="updateBusinessOppotunity">
        UPDATE dc_business_opportunity
        <set>
            <if test="id != null"> id = #{id}, </if>
            <if test="opportunityName != null"> opportunityName = #{opportunityName}, </if>
            <if test="responsibleUserId != null"> responsibleUserId = #{responsibleUserId}, </if>
            <if test="contact != null"> contact = #{contact}, </if>
            <if test="contactMobile != null"> contactMobile = #{contactMobile}, </if>
            <if test="salesMoney != null"> salesMoney = #{salesMoney}, </if>
            <if test="phaseId != null"> phaseId = #{phaseId}, </if>
            <if test="implementDate != null"> implementDate = #{implementDate}, </if>
            <if test="companyId != null"> companyId = #{companyId}, </if>
            <if test="remark != null"> remark = #{remark}, </if>
            <if test="createdBy != null"> createdBy = #{createdBy}, </if>
            <if test="updatedBy != null"> updatedBy = #{updatedBy}, </if>
            <if test="createDate != null"> createDate = #{createDate}, </if>
            <if test="status != null"> status = #{status}, </if>
            <if test="businessTypeId != null"> businessTypeId = #{businessTypeId}, </if>
            <if test="businessSourceId != null"> businessSourceId = #{businessSourceId}, </if>
             updateDate = now()
        </set>
        WHERE id = #{id}
    </update>




<select id="selectBusinessOpportunityById" resultType="java.util.Map">

SELECT
                    b.id,
                    b.opportunityName,
                    b.companyId,
                    c.companyName,
                    b.contact,
                    b.contactMobile,
                    u.uname AS createdByName,
                    u2.id as responsibleUserId,
                    c.companyAdviserId,
                    c.companyDirectorId,
                    c.createdBy as  companyCreatedBy,
                    u2.uname as responsibleUserName,
                    u3.uname as updatedByName,
                    b.salesMoney,
                    b.remark,
                    DATE_FORMAT(
                    b.implementDate,
                    '%Y-%m-%d'
                    ) AS implementDate,
                    DATE_FORMAT(
                    b.createDate,
                    '%Y-%m-%d %H:%i:%S'
                    ) AS createDate,
                    DATE_FORMAT(
                    b.updateDate,
                    '%Y-%m-%d %H:%i:%S'
                    ) AS updateDate,
                    dic1.value as phase,
                    b.phaseId,
                    c.departmentId,
                    dep.departmentName,
                    b.businessTypeId,
                    dic2.value as businessType,
                    b.businessSourceId,
                    dic3.value as businessSource,
                    b.createdBy
        FROM
        dc_business_opportunity b
            INNER JOIN dc_company c ON c.id = b.companyId
            left join dc_department dep on dep.id=c.departmentId
            LEFT JOIN dc_dictionary dic1 ON dic1.id = b.phaseId
            left join dc_dictionary dic2 on dic2.id=b.businessTypeId
            left join dc_dictionary dic3 on dic3.id=b.businessSourceId
            LEFT JOIN dc_user u ON u.id = b.createdBy
            left join dc_user u2 on u2.id=b.responsibleUserId
            left join dc_user u3 on u3.id=b.updatedBy
        WHERE
           b.id = #{id}
</select>








    <select id="selectBusinessOpportunity" resultType="java.util.Map">
        SELECT
                    b.id,
                    b.opportunityName,
                    b.companyId,
                    c.companyName,
                    b.contact,
                    b.contactMobile,
                    u.uname AS createdByName,
                    u2.id as responsibleUserId,
                    c.companyAdviserId,
                    c.companyDirectorId,
                    c.createdBy as  companyCreatedBy,
                    u2.uname as responsibleUserName,
                    b.salesMoney,
                    b.remark,
                    DATE_FORMAT(
                    b.implementDate,
                    '%Y-%m-%d'
                    ) AS implementDate,
                    DATE_FORMAT(
                    b.createDate,
                    '%Y-%m-%d %H:%i:%S'
                    ) AS createDate,
                    dic1.value as phase,
                    b.phaseId,
                    b.businessTypeId,
                    dic2.value as businessType,
                    b.businessSourceId,
                    dic3.value as businessSource,
                    dep.departmentName,
                    b.createdBy
        FROM
        dc_business_opportunity b
            INNER JOIN dc_company c ON c.id = b.companyId
            left join dc_department dep on c.departmentId=dep.id
            LEFT JOIN dc_dictionary dic1 ON dic1.id = b.phaseId
            left join dc_dictionary dic2 on dic2.id=b.businessTypeId
            left join dc_dictionary dic3 on dic3.id=b.businessSourceId
        LEFT JOIN dc_user u ON u.id = b.createdBy
            left join dc_user u2 on u2.id=b.responsibleUserId
        WHERE b.status=0
              <if test="searchValue!=null and searchValue!=''">
                  and ( b.opportunityName=#{searchValue} or c.companyName=#{searchValue}  )
              </if>
              <if test="companyId!=null and companyId!=''"> and b.companyId=#{companyId}</if>
              <if test="phaseId!=null and phaseId!='' "> and b.phaseId = #{phaseId}</if>
              <if test="businessTypeId!=null and businessTypeId!='' "> and b.businessTypeId = #{businessTypeId}</if>
              <if test="businessSourceId!=null and businessSourceId!='' "> and b.businessSourceId = #{businessSourceId}</if>
              <if test="opportunityName!=null and opportunityName!=''"> AND ( b.opportunityName LIKE '%${opportunityName}%' or b.contact like '%${opportunityName}%'  )</if>
              <if test="startDate!=null">
                  and  b.implementDate>=#{startDate}
              </if>
              <if test="endDate!=null">
                  and b.implementDate &lt;= #{endDate}
              </if>
              <if test="departmentIdList!=null and departmentIdList.size!=0">
                  and c.departmentId in
                  <foreach collection="departmentIdList" index="index" item="id" open="(" separator="," close=")">
                      #{id}
                  </foreach>
              </if>
                <if test="publicFlag==1">
                    and c.companyAdviserId=#{loginUserId}
                </if>
                <if test="publicFlag==2">
                    and c.id in (select companyId from dc_company_relative_user  u where u.userId=#{loginUserId})
                </if>
                <if test="publicFlag==3">
                    and c.companyDirectorId=#{loginUserId}
                </if>
                <if test="publicFlag==6">
                    and  b.responsibleUserId=#{loginUserId}
                </if>
                <if test="publicFlag==7">
                    and b.createdBy=#{loginUserId}
                </if>
             order by b.createDate desc
              limit #{start},#{pageSize}
    </select>


    <select id="selectBusinessOpportunityCount" resultType="int">
        SELECT
            count(1)
        FROM
        dc_business_opportunity b
        INNER JOIN dc_company c ON c.id = b.companyId
        left join dc_department dep on c.departmentId=dep.id
        LEFT JOIN dc_dictionary dic1 ON dic1.id = b.phaseId
        left join dc_dictionary dic2 on dic2.id=b.businessTypeId
        left join dc_dictionary dic3 on dic3.id=b.businessSourceId
        LEFT JOIN dc_user u ON u.id = b.createdBy
        left join dc_user u2 on u2.id=b.responsibleUserId
        WHERE b.status=0
        <if test="searchValue!=null and searchValue!=''">
            and ( b.opportunityName=#{searchValue} or c.companyName=#{searchValue}  )
        </if>
        <if test="companyId!=null and companyId!=''"> and b.companyId=#{companyId}</if>
        <if test="phaseId!=null and phaseId!='' "> and b.phaseId = #{phaseId}</if>
        <if test="businessTypeId!=null and businessTypeId!='' "> and b.businessTypeId = #{businessTypeId}</if>
        <if test="businessSourceId!=null and businessSourceId!='' "> and b.businessSourceId = #{businessSourceId}</if>
        <if test="opportunityName!=null and opportunityName!=''"> AND ( b.opportunityName LIKE '%${opportunityName}%' or b.contact like '%${opportunityName}%'  )</if>
        <if test="startDate!=null">
            and  b.implementDate>=#{startDate}
        </if>
        <if test="endDate!=null">
            and b.implementDate &lt; #{endDate}
        </if>
        <if test="departmentIdList!=null and departmentIdList.size!=0">
            and c.departmentId in
            <foreach collection="departmentIdList" index="index" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="publicFlag==1">
            and c.companyAdviserId=#{loginUserId}
        </if>
        <if test="publicFlag==2">
            and c.id in (select companyId from dc_company_relative_user  u where u.userId=#{loginUserId})
        </if>
        <if test="publicFlag==3">
            and c.companyDirectorId=#{loginUserId}
        </if>
        <if test="publicFlag==6">
            and  b.responsibleUserId=#{loginUserId}
        </if>
        <if test="publicFlag==7">
            and b.createdBy=#{loginUserId}
        </if>
    </select>


      <update id="deleteBusinessOpportunities">
          update dc_business_opportunity  d set d.status=2 where d.id in
          <foreach item="id" collection="idList" separator="," open="(" close=")" index="">
              #{id}
          </foreach>

      </update>


    <select id="selectBusinessOpportunityByIds" resultType="java.util.Map">
                  SELECT
                    b.id,
                    b.opportunityName,
                    b.companyId  from dc_business_opportunity b where b.id in
        <foreach item="id" collection="idList" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
    </select>

</mapper>