<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xkd.mapper.CompanyRelativeUserMapper">


    <insert id="insertList">
        INSERT INTO dc_company_relative_user(
            id,
            companyId,
            userId
        )VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.companyId},
            #{item.userId}
            )
        </foreach>
    </insert>
    <delete id="deleteByCompanyIdsString">
       delete from dc_company_relative_user  where companyId in ${companyIds}
    </delete>

    <delete id="deleteByCompanyId" >
        DELETE FROM dc_company_relative_user  where companyId=#{companyId}
    </delete>
    <select id="selectRelativeUserListByCompanyIds" resultType="java.util.Map">
        select
              u.companyId,
              u.id,
              u.userId,
              du.uname,
              du.titleValue
         from dc_company_relative_user u
         LEFT  JOIN  dc_user  du
         on u.userId=du.id
         where u.companyId
          in
        <foreach item="id" collection="companyIdList" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
     </select>



    <delete id="deleteRelativeUserById">
        delete from dc_company_relative_user  where id =#{id}
    </delete>



</mapper>
