<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xkd.mapper.FieldShowMapper">


    <select id="selectFieldShow" resultType="map">
        select * from dc_field_show where module=#{module} order by orderNum asc
    </select>


    <select id="selectUserFieldShow" resultType="map">
        select u.module,u.field,u.orderNum from dc_field_show u where u.default=1 and u.module=#{module}
        and not exists (
            select module,field from dc_field_user_show  s where s.userId=#{userId} and s.module=#{module}
        )
        union
        select module,field ,s.orderNum from dc_field_user_show  s where s.userId=#{userId} and s.module=#{module}
    </select>



    <delete id="deleteByUserId"  >
        delete from dc_field_user_show where userId=#{userId} and module=#{module}
    </delete>


    <insert id="insertFieldUserList"  >
        insert into dc_field_user_show(
        id ,
        `module`,
        field,
        userId,
        orderNum
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.module},
            #{item.field},
            #{item.userId},
            #{item.orderNum}
            )
        </foreach>

    </insert>

</mapper>
