<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xkd.mapper.MeetingTicketMapper">

    <insert id="insertMeetingTicket">
        INSERT INTO dc_meeting_ticket
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> id, </if>
            <if test="meetingId != null"> meetingId, </if>
            <if test="ticketTypeName != null"> ticketTypeName, </if>
            <if test="price != null"> price, </if>
            <if test="amount != null"> amount, </if>
            <if test="createdBy != null"> createdBy, </if>
            <if test="createDate != null"> createDate, </if>
            <if test="updatedBy != null"> updatedBy, </if>
            <if test="updateDate != null"> updateDate, </if>
            <if test="status != null"> status, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id}, </if>
            <if test="meetingId != null"> #{meetingId}, </if>
            <if test="ticketTypeName != null"> #{ticketTypeName}, </if>
            <if test="price != null"> #{price}, </if>
            <if test="amount != null"> #{amount}, </if>
            <if test="createdBy != null"> #{createdBy}, </if>
            <if test="createDate != null"> #{createDate}, </if>
            <if test="updatedBy != null"> #{updatedBy}, </if>
            <if test="updateDate != null"> #{updateDate}, </if>
            <if test="status != null"> #{status}, </if>
        </trim>
    </insert>


    <update id="updateMeetingTicket">
        UPDATE dc_meeting_ticket
        <set>
            <if test="id != null"> id = #{id}, </if>
            <if test="meetingId != null"> meetingId = #{meetingId}, </if>
            <if test="ticketTypeName != null"> ticketTypeName = #{ticketTypeName}, </if>
            <if test="price != null"> price = #{price}, </if>
            <if test="amount != null"> amount = #{amount}, </if>
            <if test="createdBy != null"> createdBy = #{createdBy}, </if>
            <if test="createDate != null"> createDate = #{createDate}, </if>
            <if test="updatedBy != null"> updatedBy = #{updatedBy}, </if>
            <if test="updateDate != null"> updateDate = #{updateDate}, </if>
            <if test="status != null"> status = #{status} </if>
        </set>
        WHERE id = #{id}
    </update>


    <delete id="deleteMeetingTicketByIds">
      UPDATE dc_meeting_ticket t set t.status=2 where t.id in
        <foreach collection="idList" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteMeetingTicketNotInIds">
        UPDATE dc_meeting_ticket t set t.status=2
        where  t.meetingId=#{meetingId}
        <if test="idList!=null and idList.size!=0">
            and    t.id not in
            <foreach collection="idList" index="index" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </delete>





</mapper>





