<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xkd.mapper.SolrMapper">

    <select id="selectCompanyIndexInfoByIds" resultType="java.util.Map">
        select
          tt1.*,tt2.relativeUserId,tt2.relativeUserName  from (
                            SELECT
                            d.id AS id,
                            d.companyName AS companyName,
                            d.logo AS logo,
                            d.representative AS representative,
                            d.id AS companyId,
                            d.address AS address,
                            CASE WHEN dic1.value IS NULL or dic1.VALUE = '' THEN '无' ELSE dic1.VALUE END AS industry,
                            dic2.value AS parentIndustry,
                            case when dic4.value is null or dic4.value='' or dic4.value='null' then '无' else dic4.value end AS userlevel,
                            case when dic3.value is null or dic3.value='' or dic3.value='null'  then '无' else  dic3.value end AS usertype,
                            d.contactPhone AS mobile,
                            d.contactName AS uname,
                            d.province AS province,
                            d.city AS city,
                            d.county AS county,
                            case when dic5.value is null or dic5.value='' or dic5.value='null'  then '无' else  dic5.value end AS channel,
                            d.updateDate AS dbChangeTime,
                            DATE_FORMAT(d.createDate,'%Y-%m-%d %H:%i')  as createDate,
                            du1.uname AS companyAdviserName,
                            du2.uname AS companyDirectorName,
                            case when d.companyAdviserId is not null and d.companyAdviserId!='' then concat('【',d.companyAdviserId,'】')  else  null  end as companyAdviserId,
                            case when d.companyDirectorId is not null and d.companyDirectorId!='' then CONCAT('【',d.companyDirectorId,'】') else null end  as companyDirectorId,
                            d.createdBy,
                            du0.uname as createdByName,
                            d.infoScore,
                            d.label,
                            d.departmentId,
                            dept.departmentName,
                            case when dic6.value is null or dic6.value='' or dic6.value='null'  then '无' else  dic6.value end AS priority,
                            case when d.latestContactTime is null then 0 else   unix_timestamp(d.latestContactTime) end  as latestContactTime
                            FROM
                            dc_company d
                            left join dc_user du0 on du0.id=d.createdBy
                            LEFT JOIN dc_dictionary dic1 ON d.industryId = dic1.id
                            left join dc_dictionary dic2 on dic2.id = dic1.parentId
                            left join dc_dictionary dic3 on d.userTypeId=dic3.id
                            left join dc_dictionary dic4 on d.userLevelId=dic4.id
                            left join dc_dictionary dic5 on d.channelId=dic5.id
                            left join dc_dictionary dic6 on d.priorityId=dic6.id
                            LEFT JOIN dc_user du1 ON du1.id = d.companyAdviserId
                            LEFT JOIN dc_user du2 ON du2.id = d.companyDirectorId
                            left join dc_department dept on dept.id=d.departmentId
                        WHERE
                        d. STATUS = 0 and d.companyName is not null and d.companyName!=''
        and d.id in
                <foreach item="id" collection="ids" separator="," open="(" close=")" index="">
                    #{id}
                </foreach>
        ) tt1

        left join (
                    SELECT
                    u.companyId as companyId,
                    GROUP_CONCAT(concat('【',u.userId,'】')) as relativeUserId,
                    GROUP_CONCAT(du.uname) as relativeUserName
                    FROM
                    dc_company_relative_user u
                    left join dc_user du on u.userId=du.id
        WHERE
                    u.companyId IN (
                                SELECT
                                id
                                FROM
                                dc_company d
                                WHERE
                                d.companyName != ''
                                AND d.companyName IS NOT NULL
                                AND d. STATUS = 0
                                and d.id in
                                <foreach item="id" collection="ids" separator="," open="(" close=")" index="">
                                    #{id}
                                </foreach>
                    )
                    group by u.companyId
        ) tt2 on tt1.companyId=tt2.companyId
    </select>


</mapper>