<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xkd.mapper.SpreadMapper" >
  <sql id="Spread_Setting" >
    id,inviteTitle,productionTypeId,productionName,productionTableType,productionId,getRate,createdBy,createDate,
    DATE_FORMAT(createDate,'%Y-%m-%d %H:%i:%s') as createDateStr,updatedBy,
    updateDate,vflag,status
  </sql>

   <sql id="Spread_User" >
        id,uname,mobile,password,createdBy,createDate,DATE_FORMAT(createDate,'%Y-%m-%d %H:%i:%s') as createDateStr,updatedBy,updateDate,status,
        accountName,accountCard,accountBank,accountSaving/100 as accountSaving,uflag,openId
   </sql>

    <sql id="user_get_money" >
        id,userOrderId,userSpreadId,getMoney/100 as getMoney,createDate,DATE_FORMAT(createDate,'%Y-%m-%d %H:%i:%s') as createDateStr,logFlag,logStauts
    </sql>



    <select id="selectSpreadSettings" resultType="com.xkd.model.SpreadSetting">
        select
        <include refid="Spread_Setting"/>
         from  dc_spread_setting
         where status = 0 and vflag = 0
        <if test="inviteTitle != null " >
            and inviteTitle like concat('%',#{inviteTitle},'%')
        </if>
        <if test="productionName != null" >
            and productionName like concat('%',#{productionName},'%')
        </if>
        <if test="createdBy != null" >
            and createdBy = #{createdBy}
        </if>
        order by createDate desc
        limit #{currentPage},#{pageSize}
    </select>

    <select id="selectSpreadUserGetMoneyLogs" resultType="com.xkd.model.UserGetMoney">
        select
        <include refid="user_get_money"/>
        from  dc_spread_user_getmoney_log
        where userSpreadId = #{userSpreadId} order by createDate desc
        limit #{currentPage},#{pageSize}
    </select>

    <select id="selectSpreadUserGetMoneyLogsTotal" resultType="java.lang.Integer">
        select
        count(1)
        from  dc_spread_user_getmoney_log
        where userSpreadId = #{userSpreadId}
    </select>

    <select id="selectSpreadGetMoneyLogDetail" resultType="java.util.Map">
        select log.getMoney/100 as getMoney,uo.payTime,uo.mhtOrderNo,s.productionName,su.accountSaving/100 as accountSaving
        from  (select * from dc_spread_user_getmoney_log where id = #{userGetMoneyLogId}) log inner join dc_user_order uo on log.userOrderId = uo.id inner join
        dc_spread_setting s on uo.spreadSettingId = s.id inner join dc_spread_user su on log.userSpreadId = su.id
    </select>


    <select id="selectSpreadSettingsTotal" resultType="java.lang.Integer">
        select
        count(1)
        from  dc_spread_setting
        where status = 0 and vflag = 0
        <if test="inviteTitle != null " >
            and inviteTitle like concat('%',#{inviteTitle},'%')
        </if>
        <if test="productionName != null" >
            and productionName like concat('%',#{productionName},'%')
        </if>
        <if test="createdBy != null" >
            and createdBy = #{createdBy}
        </if>
    </select>

    <select id="selectSpreadUsers" resultType="java.util.Map">
        SELECT
        su.uname,
        su.uflag,
        su.id as spreadUserId,
        temt1.leiji,
        temt1.getMoneyTotal,
        temt2.mhtOrderAmtTotal,
        su.accountSaving,
        DATE_FORMAT(su.createDate,'%Y-%m-%d %H:%i:%s') as createDate
        FROM
        (
        SELECT
        u.id,
        count(log.id) AS leiji,
        sum(log.getMoney) / 100 AS getMoneyTotal
        FROM
        dc_spread_user u
        LEFT JOIN (
        SELECT
        *
        FROM
        dc_spread_user_getmoney_log
        WHERE
        logFlag != 1
        ) log ON u.id = log.userSpreadId
        GROUP BY
        u.id
        ) temt1
        INNER JOIN (
        SELECT
        u.id,
        IFNULL(0, sum(uo.mhtOrderAmt)) AS mhtOrderAmtTotal
        FROM
        dc_spread_user u
        LEFT JOIN (
        SELECT
        *
        FROM
        dc_spread_user_getmoney_log
        WHERE
        logFlag != 1
        ) log ON u.id = log.userSpreadId
        LEFT JOIN dc_user_order uo ON log.userOrderId = uo.id
        GROUP BY
        u.id
        ) temt2 ON temt1.id = temt2.id
        INNER JOIN dc_spread_user su ON su.id = temt1.id
        <if test="uname != null " >
            and su.uname like concat('%',#{uname},'%')
        </if>
        <if test="startTime != null" >
            and su.createDate &gt;= #{startTime}
        </if>
        <if test="endTime != null" >
            and su.createDate &lt;= #{endTime}
        </if>
        <if test="createdBy != null" >
            and su.createdBy = #{createdBy}
        </if>

        order by su.createDate desc
        limit #{currentPage},#{pageSize}

    </select>

    <select id="selectSpreadUserlogs" resultType="java.util.Map">

        SELECT
        uo.payTime,
        su.uname,
        ss.productionName,
        uo.mhtOrderAmt,
        log.getMoney,
        ss.getRate
        FROM
        dc_spread_user_getmoney_log log
        INNER JOIN dc_user_order uo ON log.userOrderId = uo.id
        INNER JOIN dc_spread_user su ON log.userSpreadId = su.id
        INNER JOIN dc_spread_setting ss ON uo.spreadSettingId = ss.id
        <if test="uname != null " >
            and su.uname like concat('%',#{uname},'%')
        </if>
        <if test="startTime != null" >
            and uo.payTime &gt;= #{startTime}
        </if>
        <if test="endTime != null" >
            and uo.payTime &lt;= #{endTime}
        </if>
        <if test="createdBy != null" >
            and su.createdBy = #{createdBy}
        </if>

        order by uo.payTime desc
        limit #{currentPage},#{pageSize}

    </select>

    <select id="selectGetMoneys" resultType="java.util.Map">
        SELECT
            su.uname,
            su.accountName,
            su.accountCard,
            su.accountBank,
            log.id,
            log.userOrderId,
            log.userSpreadId,
            log.getMoney / 100 AS getMoney,
            DATE_FORMAT(
                log.createDate,
                '%Y-%m-%d %H:%i:%s'
            ) AS createDate,
            log.logFlag,
            log.logStauts
        FROM
            dc_spread_user_getmoney_log log
        INNER JOIN dc_spread_user su ON log.userSpreadId = su.id
        where su.createdBy = #{createdBy}
        order by log.createDate desc
        limit #{currentPage},#{pageSize}
    </select>

    <select id="selectGetMoneysTotal" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        dc_spread_user_getmoney_log log
        INNER JOIN dc_spread_user su ON log.userSpreadId = su.id
        where su.createdBy = #{createdBy}
    </select>




    <select id="selectSpreadUserlogsTotal" resultType="java.lang.Integer">

        SELECT
        count(1)
        FROM
        dc_spread_user_getmoney_log log
        INNER JOIN dc_user_order uo ON log.userOrderId = uo.id
        INNER JOIN dc_spread_user su ON log.userSpreadId = su.id
        INNER JOIN dc_spread_setting ss ON uo.spreadSettingId = ss.id
        <if test="uname != null " >
            and su.uname like concat('%',#{uname},'%')
        </if>
        <if test="startTime != null" >
            and uo.payTime &gt;= #{startTime}
        </if>
        <if test="endTime != null" >
            and uo.payTime &lt;= #{endTime}
        </if>
        <if test="createdBy != null" >
            and su.createdBy = #{createdBy}
        </if>

    </select>

    <select id="selectPcSpreadUserDetail" resultType="java.util.Map">

        SELECT
            temt.spreadSettingId,
            ss.productionName,
            temt.ticketNumberTotal
        FROM
            (
                SELECT
                    uo.spreadSettingId,
                    sum(ot.ticketNumber) AS ticketNumberTotal
                FROM
                    (
                        SELECT
                            *
                        FROM
                            dc_spread_user_getmoney_log where userSpreadId = #{spreadUserId}
                    ) log
                INNER JOIN dc_user_order uo ON log.userOrderId = uo.id
                INNER JOIN dc_order_ticket ot ON uo.id = ot.orderId
                GROUP BY
                    uo.spreadSettingId
            ) temt
        INNER JOIN dc_spread_setting ss ON temt.spreadSettingId = ss.id
        ORDER BY
            ss.createDate DESC

        limit #{currentPage},#{pageSize}

    </select>

    <select id="selectPcSpreadUserDetailTotal" resultType="java.lang.Integer">

        SELECT
        temt.spreadSettingId,
        ss.productionName,
        temt.ticketNumberTotal
        FROM
        (
        SELECT
        uo.spreadSettingId,
        sum(ot.ticketNumber) AS ticketNumberTotal
        FROM
        (
        SELECT
        *
        FROM
        dc_spread_user_getmoney_log where userSpreadId = #{spreadUserId}
        ) log
        INNER JOIN dc_user_order uo ON log.userOrderId = uo.id
        INNER JOIN dc_order_ticket ot ON uo.id = ot.orderId
        GROUP BY
        uo.spreadSettingId
        ) temt
        INNER JOIN dc_spread_setting ss ON temt.spreadSettingId = ss.id

    </select>



    <select id="selectSpreadUsersTotal" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        (
        SELECT
        u.id,
        count(log.id) AS leiji,
        sum(log.getMoney) / 100 AS getMoneyTotal
        FROM
        dc_spread_user u
        LEFT JOIN (
        SELECT
        *
        FROM
        dc_spread_user_getmoney_log
        WHERE
        logFlag != 1
        ) log ON u.id = log.userSpreadId
        GROUP BY
        u.id
        ) temt1
        INNER JOIN (
        SELECT
        u.id,
        IFNULL(0, sum(uo.mhtOrderAmt)) AS mhtOrderAmtTotal
        FROM
        dc_spread_user u
        LEFT JOIN (
        SELECT
        *
        FROM
        dc_spread_user_getmoney_log
        WHERE
        logFlag != 1
        ) log ON u.id = log.userSpreadId
        LEFT JOIN dc_user_order uo ON log.userOrderId = uo.id
        GROUP BY
        u.id
        ) temt2 ON temt1.id = temt2.id
        INNER JOIN dc_spread_user su ON su.id = temt1.id
        <if test="uname != null " >
            and su.uname like concat('%',#{uname},'%')
        </if>
        <if test="startTime != null" >
            and su.createDate &gt;= #{startTime}
        </if>
        <if test="endTime != null" >
            and su.createDate &lt;= #{endTime}
        </if>
        <if test="createdBy != null" >
            and su.createdBy = #{createdBy}
        </if>
    </select>


    <select id="selectSpreadUserById" resultType="com.xkd.model.SpreadUser">
        select
        <include refid="Spread_User"/>
        from  dc_spread_user
        where id = #{id}
    </select>

    <select id="selectSpreadSettingById" resultType="com.xkd.model.SpreadSetting">
        select
        <include refid="Spread_Setting"/>
        from  dc_spread_setting
        where id = #{id}
    </select>

    <select id="selectGetMoneyLogById" resultType="com.xkd.model.UserGetMoney">
        select
        <include refid="user_get_money"/>
        from  dc_spread_user_getmoney_log
        where id = #{id}
    </select>






    <select id="selectSpreadUserByMobile" resultType="com.xkd.model.SpreadUser">
        select
        <include refid="Spread_User"/>
        from  dc_spread_user
        where mobile = #{mobile}
    </select>

    <select id="selectSpreadUserByOpenId" resultType="com.xkd.model.SpreadUser">
        select
        <include refid="Spread_User"/>
        from  dc_spread_user
        where openId = #{openId}
    </select>

  <update id="updateSpreadSetting" parameterType="com.xkd.model.SpreadSetting" >
    update dc_spread_setting
    <set>
        <if test="inviteTitle != null " >
            inviteTitle = #{inviteTitle},
        </if>
        <if test="productionTypeId != null" >
            productionTypeId = #{productionTypeId},
        </if>
        <if test="productionId != null" >
            productionId = #{productionId},
        </if>
        <if test="productionName != null" >
            productionName = #{productionName},
        </if>
        <if test="getRate != null" >
            getRate = #{getRate},
        </if>
        <if test="createdBy != null" >
            createdBy = #{createdBy},
        </if>
        <if test="createDate != null" >
            createDate = #{createDate},
        </if>
        <if test="updatedBy != null" >
            updatedBy = #{updatedBy},
        </if>
        <if test="updateDate != null" >
            updateDate = #{updateDate},
        </if>
        <if test="vflag != null" >
            vflag = #{vflag},
        </if>
        <if test="status != null" >
            status = #{status},
        </if>
        <if test="productionTableType != null" >
            productionTableType = #{productionTableType},
        </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  
  <insert id="insertSpreadSetting" parameterType="com.xkd.model.SpreadSetting">
    INSERT INTO dc_spread_setting (
           <if test="id != null" >
              id
            </if>
           <if test="inviteTitle != null " >
          ,inviteTitle
          </if>
          <if test="productionTypeId != null" >
          ,productionTypeId
          </if>
          <if test="productionId != null" >
          ,productionId
          </if>
          <if test="productionName != null" >
              ,productionName
          </if>
          <if test="getRate != null" >
          ,getRate
          </if>
          <if test="createdBy != null" >
              ,createdBy
          </if>
          <if test="createDate != null" >
              ,createDate
          </if>
          <if test="updatedBy != null" >
              ,updatedBy
          </if>
          <if test="updateDate != null" >
              ,updateDate
          </if>
          <if test="vflag != null" >
              ,vflag
          </if>
          <if test="status != null" >
              ,status
          </if>
          <if test="productionTableType != null" >
              ,productionTableType
          </if>

        )
        VALUES
            (
          <if test="id != null" >
              #{id}
          </if>
          <if test="inviteTitle != null " >
              ,#{inviteTitle}
          </if>
          <if test="productionTypeId != null" >
              ,#{productionTypeId}
          </if>
          <if test="productionId != null" >
              ,#{productionId}
          </if>
          <if test="productionName != null" >
              ,#{productionName}
          </if>
          <if test="getRate != null" >
              ,#{getRate}
          </if>
          <if test="createdBy != null" >
              ,#{createdBy}
          </if>
          <if test="createDate != null" >
              ,#{createDate}
          </if>
          <if test="updatedBy != null" >
              ,#{updatedBy}
          </if>
          <if test="updateDate != null" >
              ,#{updateDate}
          </if>
          <if test="vflag != null" >
              ,#{vflag}
          </if>
          <if test="status != null" >
              ,#{status}
          </if>
          <if test="productionTableType != null" >
              ,#{productionTableType}
          </if>
	  )
  	
  </insert>

    <insert id="insertSpreadUser" parameterType="com.xkd.model.SpreadUser">
        INSERT INTO dc_spread_user (
        <if test="id != null" >
            id
        </if>
        <if test="uname != null " >
            ,uname
        </if>
        <if test="mobile != null" >
            ,mobile
        </if>
        <if test="password != null" >
            ,password
        </if>
        <if test="createdBy != null" >
            ,createdBy
        </if>
        <if test="createDate != null" >
            ,createDate
        </if>
        <if test="updatedBy != null" >
            ,updatedBy
        </if>
        <if test="updateDate != null" >
            ,updateDate
        </if>
        <if test="status != null" >
            ,status
        </if>
        <if test="accountName != null" >
            ,accountName
        </if>
        <if test="accountCard != null" >
            ,accountCard
        </if>
        <if test="accountBank != null" >
            ,accountBank
        </if>
        <if test="accountSaving != null" >
            ,accountSaving
        </if>
        <if test="uflag != null" >
            ,uflag
        </if>
        <if test="openId != null" >
            ,openId
        </if>
        )
        VALUES
        (
        <if test="id != null" >
            #{id}
        </if>
        <if test="uname != null " >
            ,#{uname}
        </if>
        <if test="mobile != null" >
            ,#{mobile}
        </if>
        <if test="password != null" >
            ,#{password}
        </if>
        <if test="createdBy != null" >
            ,#{createdBy}
        </if>
        <if test="createDate != null" >
            ,#{createDate}
        </if>
        <if test="updatedBy != null" >
            ,#{updatedBy}
        </if>
        <if test="updateDate != null" >
            ,#{updateDate}
        </if>
        <if test="status != null" >
            ,#{status}
        </if>
        <if test="accountName != null" >
            ,#{accountName}
        </if>
        <if test="accountCard != null" >
            ,#{accountCard}
        </if>
        <if test="accountBank != null" >
            ,#{accountBank}
        </if>
        <if test="accountSaving != null" >
            ,#{accountSaving}
        </if>
        <if test="uflag != null" >
            ,#{uflag}
        </if>
        <if test="openId != null" >
            ,#{openId}
        </if>
        )
    </insert>

    <update id="updateSpreadUser" parameterType="com.xkd.model.SpreadUser" >
        update dc_spread_user
        <set>
            <if test="uname != null " >
                uname = #{uname},
            </if>
            <if test="mobile != null" >
                mobile = #{mobile},
            </if>
            <if test="password != null" >
                password = #{password},
            </if>
            <if test="createdBy != null" >
                createdBy = #{createdBy},
            </if>
            <if test="createDate != null" >
                createDate = #{createDate},
            </if>
            <if test="updatedBy != null" >
                updatedBy = #{updatedBy},
            </if>
            <if test="updateDate != null" >
                updateDate = #{updateDate},
            </if>
            <if test="status != null" >
                status = #{status},
            </if>
            <if test="accountName != null" >
                accountName = #{accountName},
            </if>
            <if test="accountCard != null" >
                accountCard = #{accountCard},
            </if>
            <if test="accountBank != null" >
                accountBank = #{accountBank},
            </if>
            <if test="accountSaving != null" >
                accountSaving = #{accountSaving},
            </if>
            <if test="uflag != null" >
                uflag = #{uflag},
            </if>
            <if test="openId != null" >
                openId = #{openId},
            </if>
        </set>
        where id = #{id,jdbcType=CHAR}
    </update>

    <insert id="insertGetMoneyLog" parameterType="com.xkd.model.UserGetMoney">
        INSERT INTO dc_spread_user_getmoney_log (
        <if test="id != null" >
            id
        </if>
        <if test="userOrderId != null" >
            ,userOrderId
        </if>
        <if test="userSpreadId != null" >
            ,userSpreadId
        </if>
        <if test="getMoney != null" >
            ,getMoney
        </if>
        <if test="createDate != null" >
            ,createDate
        </if>
        <if test="logFlag != null" >
            ,logFlag
        </if>
        <if test="logStauts != null" >
            ,logStauts
        </if>
        )
        VALUES
        (
        <if test="id != null" >
            #{id}
        </if>
        <if test="userOrderId != null" >
            ,#{userOrderId}
        </if>
        <if test="userSpreadId != null" >
            ,#{userSpreadId}
        </if>
        <if test="getMoney != null" >
            ,#{getMoney}
        </if>
        <if test="createDate != null" >
            ,#{createDate}
        </if>
        <if test="logFlag != null" >
            ,#{logFlag}
        </if>
        <if test="logStauts != null" >
            ,#{logStauts}
        </if>
        )

    </insert>


    <insert id="updateGetMoneyLog" parameterType="com.xkd.model.UserGetMoney">

        update dc_spread_user_getmoney_log
        <set>
            <if test="userOrderId != null " >
                userOrderId = #{userOrderId},
            </if>
            <if test="userSpreadId != null" >
                userSpreadId = #{userSpreadId},
            </if>
            <if test="getMoney != null" >
                getMoney = #{getMoney},
            </if>
            <if test="createDate != null" >
                createDate = #{createDate},
            </if>
            <if test="logFlag != null" >
                logFlag = #{logFlag},
            </if>
            <if test="logStauts != null" >
                logStauts = #{logStauts},
            </if>
        </set>
        where id = #{id,jdbcType=CHAR}

    </insert>




  
</mapper>