<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xkd.mapper.SysPagesMapper" >

 
 <select id="selectColumnsByPageID" resultType="java.util.Map">
    select * 
    from dc_sys_pages where pageid = #{pageId}
 </select>
  
  
</mapper>