<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xkd.mapper.UserDynamicMapper" >

  <sql id="Base_Column_List">
    id,groupId,groupName,createdBy,createDate,updateDate,updatedBy,contentValue,ttype,status
  </sql>
  
  <select id="selectUserDynamicByGroupId" resultType="java.util.Map">
			
		SELECT
			d.id,
			d.groupId,
			d.groupName,
			d.createdBy,
			DATE_FORMAT(d.createDate,'%Y-%m-%d %H:%i:%s') as createDate,
			DATE_FORMAT(d.updateDate,'%Y-%m-%d %H:%i:%s') as updateDate,
			d.updatedBy,
			d.contentValue,
			d.ttype,
			d.status as status,
		    ifnull(u.uname,'') as updateByName,
		    ifnull(u.userLogo,'') as userLogo,
		    d.operateType,
		    d.followingType,
		    contactee,
		    imageUrl
		FROM
			dc_user_dynamic d
		LEFT JOIN dc_user u ON d.updatedBy = u.id where d.groupId = #{groupId}  and d.status = 0
		 order by d.updateDate ${orderFlag}   limit #{start},#{pageSize}
  
  </select>
  
  <select id="selectUserDynamicCountByGroupId" resultType="int">
			
		SELECT
			count(1)
		FROM
			dc_user_dynamic d
		LEFT JOIN dc_user u ON d.createdBy = u.id where d.groupId = #{groupId}  and d.status = 0

  </select>
  
  
  
  <insert id="saveUserDynamic" parameterType="java.util.Map">
  
			INSERT INTO dc_user_dynamic (
				id,
				groupId,
				groupName,
				createdBy,
				createDate,
				updateDate,
				updatedBy,
				contentValue,
				status,
				ttype,
				operateType,
				followingType,
				contactee,
		    	imageUrl
			)
			VALUES
				(
			#{id},
			#{groupId},
			#{groupName},
			#{createdBy},
			NOW(),
			NOW(),
			#{updatedBy},
			#{contentValue},
			0,
			#{ttype},
			#{operateType},
			#{followingType},
			#{contactee},
			#{imageUrl}
			)
			
  </insert>
  
  <update id="deleteUserDynamicByIds">
  
  	update dc_user_dynamic set status = 2  
    where id in 
    <foreach item="id" collection="ids" separator="," open="(" close=")" index="">
			      #{id}
	</foreach>	 
  
  </update>


	<update id="changeUserDynamic">

		update dc_user_dynamic set
			contentValue = #{contentValue},
			updatedBy = #{updatedBy}
		where id = #{id}
	</update>

</mapper>