<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjh.userservice.mapper.UserMapper">

    <select id="detailByMobile" resultType="com.wjh.userservicemodel.model.UserVo">
        SELECT
            id,
            name,
            nickname,
            birthday,
            mobile,
            img,
            gender,
            password,
            DATE_FORMAT(u.create_date,'%Y-%m-%d %H:%i:%s') as createDate,
            DATE_FORMAT(u.update_date,'%Y-%m-%d %H:%i:%s') as updateDate
        FROM
            user u
        where u.mobile=#{mobile}
    </select>


    <insert id="insert">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> id, </if>
            <if test="name != null"> name, </if>
            <if test="nickname != null"> nickname, </if>
            <if test="birthday != null"> birthday, </if>
            <if test="mobile != null"> mobile, </if>
            <if test="img != null"> img, </if>
            <if test="gender != null"> gender, </if>
            <if test="password != null"> password, </if>
            <if test="createDate != null"> create_date, </if>
            <if test="createdBy != null"> created_by, </if>
            <if test="updateDate != null"> update_date, </if>
            <if test="updatedBy != null"> updated_by, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id}, </if>
            <if test="name != null"> #{name}, </if>
            <if test="nickname != null"> #{nickname}, </if>
            <if test="birthday != null"> #{birthday}, </if>
            <if test="mobile != null"> #{mobile}, </if>
            <if test="img != null"> #{img}, </if>
            <if test="gender != null"> #{gender}, </if>
            <if test="password != null"> #{password}, </if>
            <if test="createDate != null"> #{createDate}, </if>
            <if test="createdBy != null"> #{createdBy}, </if>
            <if test="updateDate != null"> #{updateDate}, </if>
            <if test="updatedBy != null"> #{updatedBy}, </if>

        </trim>
    </insert>





    <update id="update">
        UPDATE user
        <set>
            <if test="id != null"> id = #{id}, </if>
            <if test="name != null"> name = #{name}, </if>
            <if test="nickname != null"> nickname = #{nickname}, </if>
            <if test="birthday != null"> birthday = #{birthday}, </if>
            <if test="mobile != null"> mobile = #{mobile}, </if>
            <if test="img != null"> img = #{img}, </if>
            <if test="gender != null"> gender = #{gender}, </if>
            <if test="password != null"> password = #{password}, </if>
            <if test="createDate != null"> create_date = #{createDate}, </if>
            <if test="createdBy != null"> created_by = #{createdBy}, </if>
            <if test="updateDate != null"> update_date = #{updateDate}, </if>
            <if test="updatedBy != null"> updated_by = #{updatedBy} </if>
        </set>
        WHERE id = #{id}
    </update>



    <select id="selectByLogin" resultType="com.wjh.userservicemodel.model.UserVo">
         SELECT
            id,
            name,
            nickname,
            birthday,
            mobile,
            img,
            gender,
            password
        FROM
            user u
        where u.mobile=#{mobile} and u.password=#{password}
    </select>


    <delete id="delete">
        delete from user where id=#{id}
    </delete>



    <select id="selectByIds" resultType="com.wjh.userservicemodel.model.UserVo">
     SELECT
            id,
            name,
            nickname,
            birthday,
            mobile,
            img,
            gender,
            password,
            DATE_FORMAT(u.update_date,'%Y-%m-%d %H:%i:%s') as updateDate,
            DATE_FORMAT(u.create_date,'%Y-%m-%d %H:%i:%s') as createDate
        FROM
            user u
        where u.id in
        <foreach collection="idList" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>

    </select>

</mapper>