<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjh.roleservice.mapper.RoleMapper">

    <insert id="insert">
        INSERT INTO sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> id, </if>
            <if test="roleName != null"> role_name, </if>
            <if test="remark != null"> remark, </if>
            <if test="createDate != null"> create_date, </if>
            <if test="createdBy != null"> created_by, </if>
            <if test="updateDate != null"> update_date, </if>
            <if test="updatedBy != null"> updated_by, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id}, </if>
            <if test="roleName != null"> #{roleName}, </if>
            <if test="remark != null"> #{remark}, </if>
            <if test="createDate != null"> #{createDate}, </if>
            <if test="createdBy != null"> #{createdBy}, </if>
            <if test="updateDate != null"> #{updateDate}, </if>
            <if test="updatedBy != null"> #{updatedBy}, </if>
        </trim>
    </insert>

    <update id="update">
        UPDATE sys_role
        <set>
            <if test="id != null"> id = #{id}, </if>
            <if test="roleName != null"> role_name = #{roleName}, </if>
            <if test="remark != null"> remark = #{remark}, </if>
            <if test="createDate != null"> create_date = #{createDate}, </if>
            <if test="createdBy != null"> created_by = #{createdBy}, </if>
            <if test="updateDate != null"> update_date = #{updateDate}, </if>
            <if test="updatedBy != null"> updated_by = #{updatedBy} </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM sys_role where id = #{id}
    </delete>


    <select id="search" resultType="com.wjh.roleservicemodel.model.RoleVo">
        SELECT
            r.id,
            r.role_name AS roleName,
            r.remark
        FROM
            sys_role r where r.role_name like '%${roleName}%'
            limit #{start},#{pageSize}
    </select>



</mapper>