<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xkd.mapper.HotelSettingMapper" >
   <resultMap id="UserHotel" type="Hotel" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="meetingUserId" property="meetingUserId" jdbcType="VARCHAR" />
    <result column="hotelId" property="hotelId" jdbcType="VARCHAR" />
    <result column="startTime" property="startTime" jdbcType="VARCHAR" />
    <result column="endTime" property="endTime" jdbcType="VARCHAR" />
    <result column="roomNumber" property="roomNumber" jdbcType="VARCHAR" />
    <result column="bigRoomNumber" property="bigRoomNumber" jdbcType="VARCHAR" />
    
    <result column="hotelName" property="hotelName" jdbcType="VARCHAR" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
    <result column="days" property="days" jdbcType="VARCHAR" />
    <result column="room" property="room" jdbcType="VARCHAR" />
    <result column="bigRoom" property="bigRoom" jdbcType="VARCHAR" />
    <result column="roomDes" property="roomDes" jdbcType="VARCHAR" />
    <result column="useFlag" property="useFlag" jdbcType="INTEGER" />

  </resultMap>
  
  <sql id="Base_Column_List" >
    id,meetingId,hotelName,hotelPlace,room,bigRoom,status,ttype,useFlag
  </sql>
  
  <select id="selectHotelSettingsById" resultType="java.util.Map">
  
	select 
	
	<include refid="Base_Column_List"/>
	
	from dc_meeting_hotel where id = #{id} 
	
  </select>
  
  <select id="selectHotelSettingsByMeetingId" resultType="java.util.Map">
  
	select 
	
	<include refid="Base_Column_List"/>
	
	from dc_meeting_hotel where meetingId = #{meetingId} 
	
  </select>
  
  <select id="selectUserInfosByMobileByInvitation" resultMap="UserHotel">

	select 
		mu.id meetingUserId,h.hotelId,h.roomNumber,h.startTime,h.endTime,mh.bigRoom,mh.room,h.bigRoomNumber
		,mh.hotelName,c.companyName,u.uname,u.mobile,TIMESTAMPDIFF(DAY,h.startTime,h.endTime)days,mh.useFlag,
		CASE 
			when h.bigRoomNumber >0 and h.roomNumber >0 then CONCAT(CONCAT('标准间 ',h.roomNumber,' 间'),' ',CONCAT('大床房 ',h.bigRoomNumber,' 间')) 
			when h.bigRoomNumber >0 then CONCAT('标准间 ',h.bigRoomNumber,' 间') 
			when h.roomNumber >0 then CONCAT('标准间 ',h.roomNumber,' 间') 
		end roomDes
	from dc_meeting_user mu 
		left JOIN dc_user_hotel  h on  h.meetingUserId = mu.id  
		left JOIN dc_meeting_hotel mh on mh.id = h.hotelId
		left join dc_company c on c.id = mu.companyId
		left join dc_user u on u.id = mu.userId 
		where mu.meetingId = #{meetingId}  and mu.userId =  #{userId} limit 1
 	
  </select>
  
  <update id="updateHotelSetting" parameterType="java.util.Map">
  
  	update dc_meeting_hotel set 
  	hotelName = #{hotelName},
  	hotelPlace = #{hotelPlace},
  	room = #{room},
  	bigRoom = #{bigRoom},
  	updatedBy = #{userId},
  	updateDate = now(),useFlag=#{useFlag} where id = #{id}
  
  </update>
  
  
  <insert id="saveHotelSetting" parameterType="java.util.Map">
  
  	insert into dc_meeting_hotel(id,hotelName,meetingId,hotelPlace,room,bigRoom,ttype,status,createdBy,updatedBy,createDate,updateDate,useFlag) 
  	
  	values(#{id},#{hotelName},#{meetingId},#{hotelPlace},#{room},#{bigRoom},#{ttype},0,#{userId},#{userId},now(),now(),#{useFlag})
  
  </insert>
  <update id="changeInvitationBindMeeting">
  
  	update dc_meeting set invitationId = #{invitationId},updatedBy = #{user},updateDate = now() where id = #{meetingId}
  
  </update>
</mapper>