<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xkd.mapper.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="UserInfo" >
    <id column="id" property="id" jdbcType="CHAR" />
    <id column="uname" property="uname" jdbcType="VARCHAR" />
    <id column="companyid" property="companyId" jdbcType="VARCHAR" />
    <id column="birth" property="birth" jdbcType="CHAR" />
    <id column="idcard" property="idcard" jdbcType="CHAR" />
    <id column="sex" property="sex" jdbcType="CHAR" />
    <id column="mobile" property="mobile" jdbcType="CHAR" />
    <id column="phone" property="phone" jdbcType="CHAR" />
    <id column="userid" property="wjUserId" jdbcType="CHAR" />
    <id column="email" property="email" jdbcType="VARCHAR" />
    <id column="qq" property="qq" jdbcType="VARCHAR" />
    <id column="wechat" property="weChat" jdbcType="VARCHAR" />
    <id column="nickname" property="nickName" jdbcType="VARCHAR" />
    <id column="userResource" property="userResource" jdbcType="VARCHAR" />
    <id column="hobbies" property="hobbies" jdbcType="VARCHAR" />
    <id column="strongpoint" property="strongPoint" jdbcType="VARCHAR" />
    <id column="qualification" property="qualification" jdbcType="VARCHAR" />
    <id column="graduation" property="graduation" jdbcType="VARCHAR" />
    <id column="major" property="major" jdbcType="VARCHAR" />
    <id column="profession" property="profession" jdbcType="VARCHAR" />
    <id column="station" property="station" jdbcType="VARCHAR" />
    <id column="udesc" property="desc" jdbcType="VARCHAR" />
    <id column="uflag" property="uflag" jdbcType="TINYINT" />
    <id column="status" property="status" jdbcType="TINYINT" />
    <id column="updatetime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,uname,companyid,birth,idcard,sex,mobile,phone,email,qq,wechat,nickname,hobbies,strongpoint,userResource,
    qualification,graduation,major,profession,station,udesc,uflag,userid,status
  </sql>
 
  <select id="selectUserInfoById" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from dc_user where id = #{id}
  </select>
  
  <select id="selectUserInfoByCompanyId" resultType="java.util.Map" >
			SELECT
				d.id,
				u.uname,
				u.id as userId,
				d.companyId,
				dd.birth,
				dd.idCard,
				u.sex,
				u.mobile,
				u.phone,
				u.email,
				u.qq,
				u.wechat,
				u.nickName AS nickName,
				dd.hobbies,
				dd.strongpoint,
				dd.userResource,
				dd.qualification,
				dd.graduation,
				dd.major,
				dd.profession,
				dd.personAnalysis,
				d.station AS station,
				dd.udesc as 'desc',
				u.status,
				u.age,
				d.createdBy myCreatedBy
			FROM
				dc_user_company d
			INNER JOIN dc_user u ON d.userId = u.id
			LEFT JOIN dc_user_detail dd ON u.id = dd.id
			WHERE
				d.companyId = #{companyId} 
  </select>
  <select id="selectUserCompanyById" resultType="java.util.Map">
  select id ,userId,companyId from dc_user_company d where d.id=#{id}
  </select>

  <insert id="insertUserInfo" parameterType="java.util.Map">
		INSERT INTO dc_user_company (
		  id ,
		  userId ,
		  companyId,
		  station,
		  createdBy,
		  createDate
		)
		VALUES
			(
		  #{id} ,
		  #{userId} ,
		  #{companyId},
		  #{station},
		  #{createdBy},
		  now()
			)
  </insert>
  
  <update id="updateUserStationById">
  update dc_user_company d set d.station=#{station} where d.id=#{id}
  </update>
  
  <delete id="deleteByUserIdAndCompanyId">
  	delete from dc_user_company where userId=#{userId} and companyId=#{companyId}
  </delete>
  
  
  
  <select id="selectUserCompanyByMobileAndCompanyId"  resultType="java.util.Map">
		SELECT
			d.id,
			d.companyId,
			u.uname,
			d.station,
			d.userId 
		FROM
			dc_user_company d
		INNER JOIN dc_user u ON d.userId = u.id
		WHERE
			u.mobile = #{mobile}
		AND d.companyId = #{companyId}
  
  </select>
  
  
  
  
  <update id="updateUserInfoById" parameterType="UserInfo" >
    update dc_user
    <set>
    
        uname = #{uname,jdbcType=VARCHAR},
        
      <if test="companyId != null and companyId !='' " >
        companyid = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="birth != null and birth !='' " >
        birth = #{birth,jdbcType=CHAR},
      </if>
      <if test="idcard != null and idcard !='' " >
        idcard = #{idcard,jdbcType=CHAR},
      </if>
        sex = #{sex,jdbcType=CHAR},
      
        email = #{email,jdbcType=CHAR},
      
      <if test="qq != null and qq !='' " >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      
      <if test="mobile !='noPermission' " >
        mobile = #{mobile,jdbcType=CHAR},
      </if>
	 
	  	udesc = #{desc,jdbcType=CHAR},
	  
      <if test="weChat != null and weChat !='' " >
        wechat = #{weChat,jdbcType=VARCHAR},
      </if>
      
       userResource = #{userResource,jdbcType=VARCHAR},
     
      <if test="nickName != null and nickName !='' " >
        nickname = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="hobbies != null and hobbies !='' " >
        hobbies = #{hobbies,jdbcType=VARCHAR},
      </if>
      <if test="strongPoint != null and strongPoint !='' " >
        strongpoint = #{strongPoint,jdbcType=VARCHAR},
      </if>
      <if test="qualification != null and qualification !='' " >
        qualification = #{qualification,jdbcType=VARCHAR},
      </if>
      <if test="graduation != null and graduation !='' " >
        graduation = #{graduation,jdbcType=VARCHAR},
      </if>
      <if test="major != null and major !='' " >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="profession != null and profession !='' " >
        profession = #{profession,jdbcType=VARCHAR},
      </if>
      <if test="station != null and station !='' " >
        station = #{station,jdbcType=VARCHAR},
      </if>
      <if test="uflag != null" >
        uflag = #{uflag,jdbcType=TINYINT},
      </if>
       <if test="wjUserId != null and wjUserId !='' " >
        userid = #{wjUserId,jdbcType=CHAR},
      </if>
      <if test="phone != 'noPermission' " >
        phone = #{phone,jdbcType=CHAR}
      </if>
      
      
    </set>
    where id = #{id}
  </update>
  

  
  <delete id="deleteUserCompany">
    delete from dc_user_company where id=#{id}
  </delete>
  
  <update id="updateUserInfoByIdByInvitation" parameterType="UserInfo">
    
  	update dc_user set uname = #{uname},station = #{station} where id = #{id}
  
  </update>
  
  <update id="deleteUserInfoByCompanyId">
  	delete from dc_user_company where companyId in   ${companyId}
  </update>

    <update id="updateUserInfoByMap">

        update dc_user_company set

        <if test="userId != null">
            userId = #{userId},
        </if>
        <if test="companyId != null">
            companyId = #{companyId},
        </if>
        <if test="station != null">
            station = #{station},
        </if>
        <if test="createdBy != null">
            createdBy = #{createdBy},
        </if>
        createDate = #{createDate}
        where id = #{id}

    </update>

    <delete id="deleteUserCompanyByUserIds">
  
  	delete from dc_user_company where userId in
      <foreach collection="userIdList" index="index" item="id" open="(" separator="," close=")">
        #{id}
      </foreach>
  
  </delete>
  
  
  <select id="selectUserCompanyByCompanyIds" resultType="java.util.Map">
		SELECT
			u.id,
			u.userId,
			u.companyId
		FROM
			dc_user_company u
		WHERE
			u.companyId IN ${companyIds}
  </select>


  <select id="selectCompanyIdsByContactUserId" resultType="string">
    	SELECT
			id
		FROM
			dc_company u
		WHERE
			u.contactUserId=#{userId}


  </select>

  <select id="selectCompanyIdsByUseInfoUserId" resultType="string">
    	select  companyId from dc_user_company uc where uc.userId=#{userId}
  </select>

    <select id="selectUserInfoByUserIdAndCompanyId" resultType="java.util.Map">
        select  *  from dc_user_company  where userId=#{userId} and companyId = #{companyId}
    </select>

    <insert id="replaceUserInfo" parameterType="java.util.Map">
        REPLACE INTO dc_user_company (
        id ,
        userId ,
        companyId,
        station,
        createdBy,
        createDate
        )
        VALUES
        (
        #{id} ,
        #{userId} ,
        #{companyId},
        #{station},
        #{createdBy},
        now()
        )
    </insert>
</mapper>