<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xkd.mapper.UserDataPermissionMapper" >

    <select id="selectDepartmentIdsByUserId" resultType="string">
        select p.departmentId from dc_user_data_permission p where p.userId=#{userId}
    </select>


    <insert id="insertUserDataPermissionList">
        INSERT INTO dc_user_data_permission (id, userId, departmentId)
            VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.userId},
            #{item.departmentId}
            )
        </foreach>
    </insert>


    <delete id="deleteUserDataPermissionByUserId" >
       delete from dc_user_data_permission where userId=#{userId}
    </delete>


    <delete id="deleteUserDataPermissionByUserIds" >
        delete from dc_user_data_permission where userId in
        <foreach collection="userIdList" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <delete id="deleteUserDataPermissionByUserIdAndDepartmentId" >
        delete from dc_user_data_permission where userId=#{userId} and departmentId=#{departmentId}
    </delete>







</mapper>