<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjh.roleoperateservice.mapper.RoleOperateMapper">

    <insert id="insertList">
        INSERT INTO sys_role_operate(
                id,
                role_id,
                operate_id,
                create_date,
                created_by,
                update_date,
                updated_by
        )VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.roleId},
            #{item.operateId},
            #{item.createDate},
            #{item.createdBy},
            #{item.updateDate},
            #{item.updatedBy}
            )
        </foreach>
    </insert>


    <delete id="deleteByRoleId">
        DELETE FROM sys_role_operate where role_id = #{roleId}
    </delete>


    <delete id="deleteByOperateId">
        delete from sys_role_operate where operate_id=${operateId}
    </delete>


    <select id="listByRoleIds" resultType="com.wjh.roleoperateservicemodel.model.RoleOperateVo">
        SELECT
            r.id,
            r.role_id AS roleId,
            r.operate_id AS operateId,
            DATE_FORMAT(r.create_date,'%Y-%m-%d %H:%i:%s') as createDate,
            DATE_FORMAT(r.update_date,'%Y-%m-%d %H:%i:%s') as updateDate
        FROM
            sys_role_operate r
        WHERE  r.role_id in
        <foreach collection="roleIdList" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
     </select>


</mapper>