<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 注意Mybatis中需要进行json转换的类型都要在这里进行映射 -->
    <typeHandlers>
        <typeHandler handler="com.wjh.common.model.MyBatisJsonTypeHandler"
                     javaType="java.util.List"/>
        <typeHandler handler="com.wjh.common.model.MyBatisJsonTypeHandler"
                     javaType="com.wjh.companydemomodel.model.ContentVo"/>
    </typeHandlers>

</configuration>

