/* Custom */

#header {
width:941.5px;
height:210px;
filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=210) progid:DXImageTransform.Microsoft.gradient(startcolorstr=rgba(54,121,178,1),endcolorstr=rgba(142, 193, 237, 0.5),gradientType=0) !important;
-ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=210) progid:DXImageTransform.Microsoft.gradient(startcolorstr=rgba(54,121,178,1),endcolorstr=rgba(142, 193, 237, 0.5),gradientType=0) !important;/*IE8*/	
background:#5EA1D8 !important; /* 一些不支持背景渐变的浏览器 */  
background:-moz-linear-gradient(top, rgba(54,121,178,1), rgba(142, 193, 237, 0.5)) !important;  
background:-webkit-gradient(linear, 0 0, 0 bottom, from(rgba(54,121,178,1)), to(rgba(142, 193, 237, 0.5))) !important;  
background:-o-linear-gradient(top, rgba(54,121,178,1), rgba(142, 193, 237, 0.5)) !important; 
border-bottom-right-radius: 0.6em;
border-bottom-left-radius: 0.6em;
/*border-top-right-radius: 0.6em;*/
/*border-top-left-radius: 0.6em;*/
margin-left:9px;
}
#tagline {
    position: relative;
    text-align: center;
    font-size: 13px;
    color: #000 !important;
    padding-left: 0px;
    top: 12px;
}
h1 {
    color: #000;
    padding-left: 0px;
    height: 20px;
    margin: 0;
    padding-bottom: 30px;
    font-family: "Courier New",Verdana,monospace;
    text-align: center;
    font-size: 45px;
    padding-top: 60px;
}
.post {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10pt;
    margin-top: 12px;
    background-color: rgba(255,255,255,0.2);
    border-bottom-right-radius: 0.6em;
    border-bottom-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    border-top-left-radius: 0.6em;
    padding-top: 5px;
    padding-bottom: 5px;
}
p.date {
    color: #000;
    font-size: 10pt;
    font-weight: bold;
    padding-right: 0;
    padding-left: 0;
    font-weight: bold;
    font-size: 1em;
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: #aaa 0 solid;
    margin: 28px 0 0 5px;
}
.postText {
    font-size: 10pt;
    padding-left: 5px;
    line-height: 1.5;
    margin-top: 28px;
}
#footer {
    border-top: 0 solid #7ac;
    padding-top: 20px;
    text-align: center;
    font-size: .9em;
    background: #d6d3d6 url(//www.cnblogs.com/skins/kubrick/images/o_kubrickfooter.jpg) no-repeat bottom;
    height: 30px;
    margin-left: -1px;
}