<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjh.userroleservice.mapper.UserRoleMapper">

    <insert id="insertList">
        INSERT INTO sys_user_role(
                id,
                user_id,
                role_id,
                remark,
                create_date,
                created_by,
                update_date,
                updated_by
        )VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.userId},
            #{item.roleId},
            #{item.remark},
            #{item.createDate},
            #{item.createdBy},
            #{item.updateDate},
            #{item.updatedBy}
            )
        </foreach>
    </insert>


    <delete id="deleteByUserId">
        DELETE FROM sys_user_role where user_id = #{userId}
    </delete>


    <delete id="deleteByRoleId">
        DELETE FROM sys_user_role where role_id = #{roleId}
    </delete>


    <select id="listByUserId" resultType="com.wjh.userroleservicemodel.model.UserRoleVo">
        SELECT
            r.id,
            r.user_id AS userId,
            r.role_id AS roleId,
            r.remark,
            DATE_FORMAT(r.update_date,'%Y-%m-%d %H:%i:%s') as updateDate,
            DATE_FORMAT(r.create_date,'%Y-%m-%d %H:%i:%s') as createDate
        FROM
            sys_user_role r
            where r.user_id=#{userId}
    </select>

</mapper>